{:schema "kotoba.capability.repository.v1"
 :capability/version 1
 :capability/hash-contract-cid "bafkreiflhj3fslsbh7okdas2fzlhmogai64x6p3lkla6gtr7berbp7ftvi"
 :capability/definition-cid "bafyreihqyss6vswxjwjrfeafcuuzphbtzzlyxzbssk3tmut5r3w5ldqlrb"
 :capability/dependencies #{}
 :capability/imports #{:process-spawn}
 :authority "kotoba-lang/kotoba-core-contracts"
 :capability/default-policy :approval-required
 :capability/artifact {:format :wasm-component :digest-required? true :signature-required? true}
 :capability/repository "kotoba-lang/capability-process-spawn"
 :capability/id "process/spawn"
 :capability/effects #{:system-write :process-exec}
 :capability/provider-status :contract-only}
